*{
    font-family: 'Noto Sans JP', sans-serif;
}
:root{
    --text-color: rgb(105 140 142);
    --backround-color: rgb(223 238 240);
}
.box-title{
    width: 1000px;
    height: 1030px;
    background-color: var(--backround-color);
    border: 2px solid black;
    margin: 0 auto;
    padding-left: 5px;
}
.dash-line{
    margin-top: 30px;
    border: 2px dashed black;
}
.page-title{
    font-size: 35px;
    color: var(--text-color);
    font-weight: bold;
}
.name-title{
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color);
}
.user-avatar{
    border-radius: 50%;
}