*{
    box-sizing: border-box;
}
.form_page{
    width: 1200px;
    margin:40px auto 40px;
    background-color: #fff;
}
.btn{
    width: 100px;
    opacity: 0.8;
    color: var(--151-b-32, #151B32);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 8px;
}
.click.btn {
    background-color: #fff ; 
    color: var(--151-b-32, #151B32); 
    
}
.click.btn.active {
    background-color: #849FFF;
    color: #fff;
    border: none !important;
}
.card{
    display: flex;
    width: 380px;
    height: 208px;
    padding: 24px;
    gap: 16px;
    border-radius: 16px;
    border: 1px solid #BFC8E5;
    background: #FBFCFF;
    box-shadow: 0px 8px 23px 0px rgba(218, 224, 249, 0.70);
}
.column {
    float: left;
    width: 25%;
    padding: 0;
  }
.row {
    margin: 0 2px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
#img__section {
    width: 97px;
    height: 97px;
    border-radius: 97px;
    background-image: url(../IMG/1cfe5c1bcc03b9b81c2d7b42f5828a59.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: lightgray 50%;
}
#img__section-2 {
    width: 97px;
    height: 97px;
    border-radius: 97px;
    background-image: url(../IMG/2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: lightgray 50%;
}
#img__section-3 {
    width: 97px;
    height: 97px;
    border-radius: 97px;
    background-image: url(../IMG/3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: lightgray -105.646px -128.251px / 330.233% 494.689%;
}
span{
    font-family: Poppins;
    padding: 2px 8px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--bfc-8-e-6, #BFC8E5);
    background: #FFF;
    color: #516FD4;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.card .row{
    padding: 24px;
}
.card-body{
    padding: 0;
    margin-left: 16px;
}
#img__section-4 {
    width: 97px;
    height: 97px;
    border-radius: 97px;
    background-image: url(../IMG/4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: lightgray 50%;
}
#img__section-5 {
    width: 97px;
    height: 97px;
    border-radius: 97px;
    background-image: url(../IMG/5.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: lightgray 50%;
}
#img__section-6 {
    width: 97px;
    height: 97px;
    border-radius: 97px;
    background-image: url(../IMG/6.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: lightgray 50%;
}
.element.style{
    margin: 0 !important;
}
.bnt-group{
    padding: 0;
}
.form-find{
    display: flex;
    width: 327px;
    padding: 16px;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid var(--bfc-8-e-6, #BFC8E5);
}
.card-title{
    color: var(--151-b-32, #151B32);
    font-family: Merriweather;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.card-text{
    color: var(--151-b-32, #151B32);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}